* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin:auto;
    padding: 20px 25px;
}

.logo {
    height: 32px;
}

.items {
    display: flex;
    align-items: center;
    gap: 28px;
    list-style: none;
}

.items li {
    font-size: 14px;
    cursor: pointer;
}

.button-style {
    padding: 10px 22px;
    border-radius: 8px;
    background-color: rgb(47, 93, 245);
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}